body{background: #fff;font-size: 14px !important;color: #414141;font-family: Arial !important;min-width: 980px}
a{color:#414141;
-moz-transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
-ms-transition:all 0.3s ease;
transition:all 0.3s ease;    }
a:hover{color:#7eb01a;text-decoration:none !important}
.color1{color:#7eb01a}
.color2{color:#1a6b98  !important}
/*Font face*/
/*Layout*/
.wrap{width:970px;margin:0 auto;}
.w170{width:170px}
.w780{width:780px}
.top-head{height:30px;background:#e7e8e9;}
.link-product{float:left}
.link-product ul{}
.link-product ul li{display:inline-block;padding:5px 7px}
.link-product ul li a{font-size:12px}
.top-right{float:right;height:22px;margin-top:4px}
.top-hotline{background:#7eb01a url(../images/ico-phone.png) no-repeat 0px 0;color:#fff;border-radius:4px;height:21px;padding:1px 10px 0 36px;font-size:14px;float:left}
.top-mail{background:#7eb01a url(../images/ico-mail.png) no-repeat 5px 0;color:#fff;border-radius:4px;height:21px;padding:1px 10px 0 45px;font-size:14px;float:left;margin-left:5px}
.top-mail a{color:#fff}
.top-vn{float:left;background:url(../images/vn.png) no-repeat;width:30px;height:22px;margin-left:5px}
.top-us{float:left;background:url(../images/en.png) no-repeat;width:30px;height:22px;margin-left:5px}
/**/
.top-nav{position:absolute;top:30px;height:130px;background:url(../images/bg-top.png) repeat-x left top;width:100%;z-index:9998}
.top-box{height:78px;border-bottom:1px solid #fff;position:relative}
.top-box h1{position:absolute;top:15px}
.top-box h1 a{height:50px;width:155px;display:block;background:url(../images/logo.png) no-repeat}
.top-box ul{position:absolute;right:0;top:34px}
.top-box ul li{display:inline}
.top-box ul li a{margin:0 20px;color:#fff;text-transform:uppercase;font-weight:bold}
.top-box ul li a:hover{color:#d9ff8e}
.top-box ul li:nth-child(5) a{margin-right:0 !important}
.intro-box{background:#f7f7f7;border:1px solid #dfdfdf;border-left:#7eb01a 5px solid;width:944px;padding:8px 10px}
.intro-box h2{font-size:15px;font-weight:bold}
.list-pro{display: table;margin-left: auto;margin-right: auto;margin-top: 25px;}
.list-pro li{display:inline;float:left;width:212px;padding:0 15px;text-align:center}

.list-pro li h2{font-size:18px;padding:15px 0 7px}
.list-pro li p{padding:0 0 10px 0}
.btn{background:#7eb01a;display:inline-block;padding:5px 20px;color:#fff;text-transform:uppercase;font-size:14px}
.btn:hover{background:#a1d53a;color:#fff}
.btn2{background:#7eb01a;display:inline-block;padding:5px 20px;color:#fff;text-transform:uppercase;font-size:24px;float:right;margin:0 10px}
.btn2:hover{background:#a1d53a;color:#fff}
.btn3{background:#7eb01a;display:inline-block;padding:5px 0px;color:#fff;text-align:center;width:170px}
.btn3:hover{background:#a1d53a;color:#fff}
.footer{margin-top:40px;background:#5a5d60;border-top:5px solid #7eb01a;height:130px}
.englishfooter{margin-top:40px;background:#5a5d60;border-top:5px solid #7eb01a;height:130px}
.footer h2{
	display: block;
	position: absolute;
	top: 21px;
	background: url(../images/logo-viettel.png) no-repeat;
	width: 159px;
	height: 91px
}
.englishfooter h2{
	display: block;
	position: absolute;
	top: 15px;
	background: url(../images/en/logo-viettel.png) no-repeat;
	width: 159px;
	height: 91px;
	left: 12px;
}
.footer p{position:absolute;left:200px;top:21px;color:#c6c6c6}
.footer p a{color:#c6c6c6}
.footer p a:hover{color:#7eb01a}
.englishfooter p{position:absolute;left:200px;top:21px;color:#c6c6c6}
.englishfooter p a{color:#c6c6c6}
.englishfooter p a:hover{color:#7eb01a}
.big-title{font-size:30px;text-transform:uppercase;border-bottom:1px #e5e5e5 solid;padding:7px 0 10px}
.t1{background:url(../images/ico-5.png) no-repeat left center;padding-left:40px}
.t2{background:url(../images/ico-6.png) no-repeat left center;padding-left:40px}
.t3{background:url(../images/ico-7.png) no-repeat left center;padding-left:40px}
.t4{background:url(../images/ico-8.png) no-repeat left center;padding-left:40px}
.t5{background:url(../images/ico-recloser.png) no-repeat left center;padding-left:40px;background-size: 35px 35px;}
.content p{padding:5px 0}
.content h2{font-size:30px;text-transform:uppercase}
.content h3{text-transform:uppercase;font-size:14px;font-weight:bold;}
.content p img{margin:10px 0 5px}
.content ul{}
.content ul li{background:url(../images/dot2.png) no-repeat left 12px;padding:3px 0 3px 8px}
.content ul li ul{margin-left:25px}
.content ul li ul li{background:url(../images/dot3.jpg) no-repeat left 12px;padding:3px 0 3px 8px}
.menu{}
.menu li{border-bottom:1px #a6a6a6 dotted}
.menu li a{padding:4px 0 6px 8px;background:url(../images/dot2.png) no-repeat left 12px;display:block}
.menu-active{font-weight:bold;color:#7eb01a}
/**/
.slider-wrapper {width:100%;margin: 0px auto;position:relative}
@-webkit-keyframes tada {
0% {-webkit-transform: scale(1);}   
10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes tada {
0% {-moz-transform: scale(1);}  
10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
100% {-moz-transform: scale(1) rotate(0);}
}
@-ms-keyframes tada {
0% {-ms-transform: scale(1);}   
10%, 20% {-ms-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-ms-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-ms-transform: scale(1.1) rotate(-3deg);}
100% {-ms-transform: scale(1) rotate(0);}
}
@-o-keyframes tada {
0% {-o-transform: scale(1);}    
10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
100% {-o-transform: scale(1) rotate(0);}
}
@keyframes tada {
0% {transform: scale(1);}   
10%, 20% {transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
100% {transform: scale(1) rotate(0);}
}
.tada {
-webkit-animation-name: tada;
-moz-animation-name: tada;
-ms-animation-name: tada;
-o-animation-name: tada;
animation-name: tada;}
@-webkit-keyframes pulse {
0% { -webkit-transform: scale(1); } 
33% { -webkit-transform: scale(0.9); }
66% { -webkit-transform: scale(1.1); }
100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
0% { -moz-transform: scale(1); }    
33% { -moz-transform: scale(0.9); }
66% { -moz-transform: scale(1.1); }
100% { -moz-transform: scale(1); }
}
@-ms-keyframes pulse {
0% { -ms-transform: scale(1); } 
33% { -ms-transform: scale(0.9); }
66% { -ms-transform: scale(1.1); }
100% { -ms-transform: scale(1); }
}
@-o-keyframes pulse {
0% { -o-transform: scale(1); }  
33% { -o-transform: scale(0.9); }
66% { -o-transform: scale(1.1); }
100% { -o-transform: scale(1); }
}
@keyframes pulse {
0% { transform: scale(1); } 
33% { transform: scale(0.9); }
66% { transform: scale(1.1); }
100% { transform: scale(1); }
}
.pulse {
-webkit-animation-name: pulse;
-moz-animation-name: pulse;
-ms-animation-name: pulse;
-o-animation-name: pulse;
animation-name: pulse;}
.list-pro li:hover .icon[data-animation=tada] img{-webkit-animation: tada ease-in-out 1 normal 800ms;
-moz-animation: tada ease-in-out 1 normal 800ms;
-ms-animation: tada ease-in-out 1 normal 800ms;
-o-animation: tada ease-in-out 1 normal 800ms;
animation: tada ease-in-out 1 normal 800ms; }
.list-pro li:hover .icon[data-animation=pulse] img{
-webkit-animation: pulse ease-in-out 1 normal 500ms;
-moz-animation: pulse ease-in-out 1 normal 500ms;
-ms-animation: pulse ease-in-out 1 normal 500ms;
-o-animation: pulse ease-in-out 1 normal 500ms;
animation: pulse ease-in-out 1 normal 500ms; }
